* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

button {
    cursor: pointer;
}

.web {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contaner {
    width: 35rem;
    background-color: #5454cc;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0rem 0.5rem blue;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.first {
    display: flex;
    justify-content: end;
    gap: 10rem;
}

.state {
    background-color: green;
    display: none;
    padding: 0.5rem;
}

.score {
    width: fit-content;
    background-color: yellow;
    padding: 0.5rem;
    box-shadow: 0rem 0.2rem yellowgreen;
}

.second {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aliceblue; */
    margin: 0rem auto;
    gap: 0.5rem
}

.boxone {
    background-color: aquamarine;
    width: 30rem;
    height: 8rem;
    margin: 0rem 1rem;
    box-shadow: 0rem 0.2rem rgba(80, 139, 120, 0.444);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 5rem;
}

.boxtwo {
    background-color: #7a1cd2;
    width: 30rem;
    height: 4rem;
    margin: 0rem 1rem;
    box-shadow: 0rem 0.2rem #a370d2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 30rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.answer1,
.answer2,
.answer3,
.answer4 {
    width: 5rem;
    height: 3rem;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    box-shadow: 0 0.2rem #ccc;
    flex-wrap: wrap;
}

.start {
    padding: 1rem;
    margin: auto;
}

footer .end {
    display: flex;
    justify-content: center;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: chocolate;
    display: none;
}

.d-block {
    display: block;
}

.endTime {
    position: absolute;
    /* top: 0;
    bottom: 0; */
    background-color: #F0EDCC;
    display: none;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    padding: 0 1rem;
    border-radius: 2rem;
}

.d-flex {
    display: flex;
}

.bg-red {
    background-color: red;
}