@media screen and (max-width:42rem) {
    
    .container {
        width: 20rem;
        height: auto;
        margin-top: 2rem;
    }

    .second {
        width: 50%;
    }

    .boxone {
        width: 15rem;
        font-weight: 500;
        font-size: 1rem;
        margin-top: 10rem;
        height: 5rem;

    }

    .boxtwo {
        width: 15rem;
    }

    .box {
        width: 15rem;
        flex-direction: column;
        gap: 1rem;
        height: auto;
    }
}